<o-form
  service="registers"
  entity="countTravels"
  keys="plate_name"
  show-header="no"
>
  <o-table
    visible="no"
    class="hidden"
    attr="countTravels"
    service="registers"
    entity="countTravels"
    columns="julio_iglesias"
    parent-keys="plate_name"
    (onDataLoaded)="loadCountTravels($event)"
  ></o-table>
  <o-table
    visible="no"
    class="hidden"
    attr="volume"
    service="plate"
    entity="volumeByPlate"
    columns="julio_iglesias"
    parent-keys="plate_name"
    (onDataLoaded)="loadVolumes($event)"
  ></o-table>
  <o-table
    visible="no"
    class="hidden"
    attr="tiempoDescargaByPlate"
    service="plate"
    entity="tiempoDescargaByPlate"
    columns="julio_iglesias"
    parent-keys="plate_name"
    (onDataLoaded)="loadTime($event)"
  ></o-table>

  <o-table
    visible="no"
    class="hidden"
    attr="percentage"
    service="plate"
    entity="optimalVolPercentByPlate"
    columns="julio_iglesias"
    parent-keys="plate_name"
    (onDataLoaded)="loadPercentage($event)"
  ></o-table>

  <o-column layout-gap="50px">
    <o-row>
        <div class="card">
          <h3>{{'TRAVELS' | oTranslate}}</h3>
          {{ countTravels }}
        </div>
        <div class="card">
          <h3>
            {{'SCAN_VOLUME_IN' |oTranslate}}
          </h3>
          {{ volume_in }} m³
        </div>
        <div class="card">
          <h3>
            {{'SCAN_VOLUME_OUT' | oTranslate}}
          </h3>
          {{ volume_out }} m³
        </div>
    </o-row>
    <o-row>
      <o-column fxFlex>
        <h3>{{'AVG_TIME' | oTranslate}}</h3>
        <div id="clock">
          <mat-icon id="icon-timer">timer</mat-icon>
          {{ time }}
        </div>
      </o-column>
      <o-column fxFlex>
        <h3 >{{'AVG_VOL_PERCENT' | oTranslate}} </h3>   
        <o-chart
          #percentageChart
          type="gaugeDashboardChart"
          parent-keys="plate_name"
          chart-height="400"
          service="plate"
          entity="optimalVolPercentByPlate"
          y-axis="percentage"
          [chart-parameters]="gaugeDashboardConf"
        ></o-chart>
      </o-column>
    </o-row>
  </o-column>
</o-form>
