<o-form #formDetail service="registers" entity="order" keys="id_order" (onDataLoaded)="changeNew($event)">
  <o-text-input attr="order_name"></o-text-input>
  <o-currency-input #priceVol attr="price_per_vol" decimal-digits="2" currency-symbol="€/m³"></o-currency-input>
  <o-integer-input attr="target_volume" ></o-integer-input>
  <o-integer-input
    class="hidden"
    attr="id_order"
    thousand-separator=""
    label="ID"
    sql-type="INTEGER"
    appearance="outline"
    visible="no"
  ></o-integer-input>
  
  <o-filter-builder
    #filterBuilder
    attr="thefilter"
    filters="id_order"
    [expression-builder]="createFilter"
    [target]="deliveryTable"
    query-on-change="no"
    query-on-change-delay="500"
  >
  </o-filter-builder>

</o-form>

<o-form-layout-manager attr="delivery_layout_manager" title="ORDER_TITLE_VIEW">
  <o-table
    #deliveryTable
    attr="deliveryTable"
    service="registers"
    entity="orderDeliverys"
    keys="id_order;id"
    columns="id_order;order_name;price_per_vol;date_in;date_out;calculated_volume;delivery_note;id"
    visible-columns="delivery_note;date_in;date_out;calculated_volume"
  >
  <o-table-column attr="delivery_note" content-align="center"></o-table-column>
  <o-table-column attr="date_in" type="date" format="DD/MM/YYYY HH:MM"></o-table-column>
  <o-table-column attr="date_out" type="date" format="DD/MM/YYYY HH:MM"></o-table-column>
  <o-table-column attr="calculated_volume" type="real" decimal-digits="2" content-align="center"></o-table-column>
  <o-table-column-calculated attr="cost" title="COST" type="currency" currency-symbol="€"
  currency-symbol-position="right" operation="(calculated_volume*price_per_vol)" decimal-digits="2" > </o-table-column-calculated>
  <o-table-column-aggregate attr="calculated_volume" title="VOLUME_AGGREGATE" aggregate="sum"></o-table-column-aggregate>
  <o-table-column-aggregate attr="cost" title="PRICE" aggregate="sum"></o-table-column-aggregate>
  </o-table>
  
</o-form-layout-manager>

