<o-form>
<o-row>
    <o-column fxFlex="80">
      <o-chart 
      type="line"
      x-label="Time"
      y-label="Nº"
      x-axis="day"
      y-axis="acumulated"
      x-data-type="time"
      [chart-parameters]="movementTypesChartParams"
      [data]="dataChart"
    ></o-chart>
    </o-column>

    <o-table style="display: none;" #trafficChart attr="registersTable" insert-button="no" delete-button="no" service="registers" entity="trafficDate" keys="day" 
      columns="day;acumulated" (onDataLoaded)="loadData($event)"
      visible-columns="day;acumulated" query-rows="20">      

      <o-table-column attr="day" type="date"></o-table-column>
    
    </o-table>
    
    
    <o-column-collapsible title="{{'DATE_FILTER' | oTranslate}}" fxFlex="20">  
      <o-date-input attr="startDateIn" label="{{'START' | oTranslate}}" read-only="no" required="no"></o-date-input>
      <o-date-input attr="endDateIn" label="{{'END' | oTranslate}}" read-only="no" required="no"></o-date-input>
      <o-row>
        <o-button attr="filter" class="filter-button" type="RAISED" [oFilterBuilderQuery]="filterBuilder" label="FILTER"></o-button>
        <o-button attr="clear" class="filter-button" type="RAISED" [oFilterBuilderClear]="filterBuilder" label="CLEAR"></o-button>        
      </o-row>
    </o-column-collapsible>
    
    </o-row>
    
    <o-filter-builder #filterBuilder attr="thefilter"  filters="STARTDATE_I:startDateIn;ENDDATE_I:endDateIn" 
    [expression-builder]="createFilter" [target]="trafficChart" query-on-change="no" query-on-change-delay="500">
      </o-filter-builder>
    
</o-form>




<!-- 
<o-chart
  type="line"
  x-label="Time"
  y-label="Nº"
  service="registers"
  entity="register"
  x-axis="date_in"
  y-axis="calculated_volume"
  x-data-type="time"
></o-chart> -->

