<o-form fxFlex="100" show-header="no">

<o-row>
  <o-row title="{{'DATE_FILTER' | oTranslate}}"   class="col" layout-gap="10px">  
    <o-date-input attr="startDateIn" label="{{'START' | oTranslate}}" read-only="no" required="no"></o-date-input>
    <o-date-input attr="endDateIn" label="{{'END' | oTranslate}}" read-only="no" required="no"></o-date-input>
    
  </o-row>
  <o-row id="filter_btn"  layout-gap="15px">
    <o-column layout-align="center">
      <o-button attr="filter" class="filter-button" type="RAISED"  [oFilterBuilderQuery]="filterBuilder2" label="FILTER" color="primary" class="button" (onClick)="onClickQuery($event)"></o-button>
    </o-column>
    <o-column layout-align="center">
      <o-button attr="clear" class="filter-button" type="RAISED" [oFilterBuilderClear]="filterBuilder2" label="CLEAR" class="button" (onClick)="onClickClear($event)" ></o-button>        
    </o-column>
  </o-row>
</o-row> 


  <o-button #buttonQuery attr="filter" class="filter-button" type="RAISED"  [oFilterBuilderQuery]="filterBuilder" label="FILTER" color="primary" class="button" style="display:none" ></o-button>
  <o-button #buttonClear attr="clear" class="filter-button" type="RAISED" [oFilterBuilderClear]="filterBuilder" label="CLEAR" class="button" style="display:none"></o-button>        


<app-resume-delivery-traffic  ></app-resume-delivery-traffic>
<app-resume-delivery-balance ></app-resume-delivery-balance>

<o-filter-builder #filterBuilder2 attr="thefilter"  filters="STARTDATE_I:startDateIn;ENDDATE_I:endDateIn" 
[expression-builder]="createFilter" [target]="targetChart.chartObjects[0]"   query-on-change="no" query-on-change-delay="500">
</o-filter-builder>
<o-filter-builder #filterBuilder attr="thefilter"  filters="STARTDATE_I:startDateIn;ENDDATE_I:endDateIn" 
[expression-builder]="createFilter" [target]="targetChart.chartObjects[1]"   query-on-change="no" query-on-change-delay="500">
</o-filter-builder>


  <app-resume-delivery-affluence></app-resume-delivery-affluence>
</o-form>
