<o-table service="registers" entity="registerConfig" keys="config_name" columns="config_name;config_value"
  visible-columns="config_name;config_value" detail-mode="none" edition-mode="click"  controls="no">
  <o-table-column attr="config_value" title="{{'VALUE_CONFIG'|oTranslate}}" editable="yes"></o-table-column>
  <o-table-column attr="config_name" title="{{'NAME_CONFIG'|oTranslate}}"></o-table-column>
</o-table>

<!-- <o-form show-header="no" service="registers" entity="config" keys="config_name">
  <div class="card">
    <h3>{{"DISCREPANCY_PERCENT"|oTranslate}}:
      <o-integer-input #intInput attr="config_value" label="" (onChange)="updateDiscrepancy($event)" appearance="outline"
        max="100" min="0"></o-integer-input>
    </h3>
  </div>
</o-form> -->