/* You can add global styles to this file, and also import other style files */
.input-padding{
    padding-right: 10px;
}

.error-row {
    background-color: #ff15008f;
}


.col .o-container .o-container-scroll.o-container-gap {
    padding: 0;
}

.o-row-collapsible > .o-container.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body > .o-container-scroll:has(.col) {
    padding: 0;
}