<o-form show-header="no">
<o-row-collapsible title="{{'DATE_FILTER' | oTranslate}}" expanded="yes"  id="filter_date"> 
    <o-row title="{{'DATE_IN' | oTranslate}}" class="col" layout-gap="15px">
      <o-date-input attr="startDateIn" label="{{'START' | oTranslate}}" read-only="no" required="no"></o-date-input>
      <o-date-input attr="endDateIn" label="{{'END' | oTranslate}}" read-only="no" required="no"></o-date-input>
    </o-row>

    <o-row layout-gap="15px" >
      <o-column layout-align="center">
        <o-button attr="filter" class="filter-button" type="RAISED" [oFilterBuilderQuery]="filterBuilder" label="FILTER" icon="search" color="primary" class="button"></o-button>
      </o-column>
      <o-column layout-align="center">
        <o-button attr="clear" class="filter-button" type="RAISED" [oFilterBuilderClear]="filterBuilder" label="CLEAR" icon="restore" class="button"></o-button>        
      </o-column>
    </o-row>
  
</o-row-collapsible>

<o-table #configTable service="registers" entity="registerConfig" keys="config_name" columns="config_name;config_value"
 visible-columns="" detail-mode="none" edition-mode="click"  controls="no" visible="no" (onDataLoaded)="loadConfigData($event)">
</o-table>

<o-form-layout-manager >
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table #registersTable attr="registersTable" insert-button="no" delete-button="no" service="registers" entity="completedDiscrepancy" keys="id" 
      columns="id;delivery_note;date_in;date_out;plate_name;trailer_plate_name;calculated_volume;width;height;length;scan_volume_in;scan_volume_out;volume_diference;discrepancia;order_name"
      visible-columns="delivery_note;date_in;date_out;plate_name;trailer_plate_name;calculated_volume;volume_diference;discrepancia;order_name" query-rows="20" auto-adjust="no" [row-class]="setRowClass.bind(this)" (onDataLoaded)="loadData($event)"
      virtual-scroll="no"
      >
    
      <o-table-column attr="delivery_note" title="DELIVERY_NOTE" content-align="center"></o-table-column>
      <o-table-column attr="date_in"  title="DATE_IN"  type="date" format="DD/MM/YYYY HH:MM" content-align="center"></o-table-column>
      <o-table-column attr="date_out" title="DATE_OUT"  type="date" format="DD/MM/YYYY HH:MM" content-align="center"></o-table-column>
      <o-table-column attr="trailer_plate_name" title="TRAILER_PLATE_NAME" content-align="center"></o-table-column>
      <o-table-column attr="plate_name" title="PLATE_NAME" content-align="center"></o-table-column>
      <o-table-column attr="calculated_volume" title="CALCULATED_VOLUME" type="currency" currency-symbol=" m³" currency-symbol-position="right" decimal-digits="2" content-align="center"></o-table-column>
      <o-table-column attr="volume_diference" title="VOLUME_DIFERENCE" type="currency" currency-symbol=" m³" currency-symbol-position="right" decimal-digits="2" content-align="center"></o-table-column>
      <o-table-column attr="discrepancia" title="DISCREPANCY" content-align="center">      
        <app-registros-discrepancy-render [discrepancy]="discrepancyData"></app-registros-discrepancy-render>
      </o-table-column>
      <o-table-column attr="order_name" title="ORDER_NAME" content-align="center"></o-table-column>
    
    </o-table>
    </div>
</o-form-layout-manager>

<o-filter-builder #filterBuilder attr="thefilter"  filters="STARTDATE_I:startDateIn;ENDDATE_I:endDateIn" 
    [expression-builder]="createFilter" [target]="registersTable" query-on-change="no" query-on-change-delay="500">
</o-filter-builder> 



</o-form>
