<o-form-layout-manager>
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="registersTable" service="registers" entity="completed" keys="id" 
      columns="id;date_in;date_out;scan_volume_in;scan_volume_out;calculated_volume;plate_name;height;width;length;trailer_plate_name;delivery_note"
      visible-columns="delivery_note;date_in;date_out;trailer_plate_name;plate_name" query-rows="20">
    
      <o-table-column attr="delivery_note" title="DELIVERY_NOTE"></o-table-column>
      <o-table-column attr="date_in"  title="DATE_IN"  type="date" format="DD/MM/YYYY HH:MM"></o-table-column>
      <o-table-column attr="date_out" title="DATE_OUT"  type="date" format="DD/MM/YYYY HH:MM"></o-table-column>
      <o-table-column attr="trailer_plate_name" title="TRAILER_PLATE_NAME"></o-table-column>
      <o-table-column attr="plate_name" title="PLATE_NAME"></o-table-column>
    
    </o-table>
    </div>
</o-form-layout-manager>

