<o-card-menu-layout parent-menu-id="views">
  <o-card-menu-item button-text="GO_TO" title="REGISTERS" icon="list" route="/main/registros"></o-card-menu-item>
  <o-card-menu-item button-text="GO_TO" title="RESUME" icon="donut_small" route="/main/resume-delivery"></o-card-menu-item>
  <o-card-menu-item button-text="GO_TO" title="TRUCKS" icon="local_shipping" route="/main/trucks"></o-card-menu-item>
  <o-card-menu-item button-text="GO_TO" title="ORDER" icon="assignment" route="/main/order"></o-card-menu-item>
</o-card-menu-layout>
