<o-form-layout-manager title="TRUCKS_TITLE_VIEW" mode="tab" >
  <o-table service="registers" entity="countTravels" keys="plate_name" columns="plate_name;travels"
  visible-columns="plate_name;travels" delete-button="no" insert-button="no" query-rows="100" auto-adjust="no"
  virtual-scroll="no">
  <o-table-column attr="plate_name" title="PLATE_NAME" class="plate"
  content-align="center"></o-table-column>
  <o-table-column attr="travels" title="TRAVELS" content-align="center"></o-table-column>
</o-table>
</o-form-layout-manager>
